a.brand-logo > img {
	vertical-align:middle;
	margin-top:-8px;
}

div.row, div.col, div.card, div.card-content, span.card-title, div.card-action {
	margin: 0 !important;
	padding: 0 !important;
}

span.card-title {
	padding: 10px !important;
	font-weight: bold !important;
}

div.card-action {
	padding: 10px !important;
}

#submit-new-image {
	display: block;
	width: 100%;
}

#submit-new-image > i {
	font-size: 1.3rem;
	vertical-align: middle;
	margin-top: -5px;
	line-height: initial !important;
}

div.image-field{
	padding: 10px !important;
}

div.image-field > a > img{
	border: 2px solid #e0e0e0;
	border-radius: 5px;
	max-width: 100px;
}

#image-description {
	padding: 0 10px;
}

#btn-like {
	margin: -12px auto 0 auto !important;
	padding-top: 5px;
}

.image-footer > i{
	padding: 0 0 -10px 0 !important;
}

.stats-zone {
	padding: 10px;
}